{{ define "main" }}    
    {{- partial "header.html" . -}}  
    {{- partial "top-section.html" . -}} 
    {{- partial "enterprise-list.html" . -}} 
    {{- partial "community.html" . -}} 
    {{- partial "meeting.html" . -}} 

       
    <section class="section page-content{{ if eq .RelPermalink "/opentelemetry/" }} opentelemetry-page{{ end }}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12{{ if eq .RelPermalink "/opentelemetry/" }} col-lg-10{{ end }}">
                    <div class="page-article">
                        {{.Content}}
                    </div>
                </div>
            </div>
        </div>    
    </section>
{{ end }}
