{{ if .Params.brand.enabled }}
{{$data := .Params.brand }}

<section class="section trust-strip" style="order: {{$data.position}};">
    <div class="container">
        <div class="row mb-1">
            <div class="col-12">                                   
                <div class="section-heading text-left text-md-center">
                    <h4 data-aos="zoom-in" class="text-left text-md-center">{{$data.heading}}</h4>
                    {{with  $data.subHeading }}
                     <h5 data-aos="zoom-out">{{.}}</h5> 
                    {{end}}
                </div>
            </div>
        </div>
        <div class="row d-sm-block d-md-none">
            <div class="col-12">
              
                <div class="slider slider-for">
                    {{$brand := .Site.Data.brand}} 
               
                    
                    {{ range $brand  }}
                        <div><img src="{{.logo}}" alt="{{.name}}"> {{.Weight}}</div>
                    {{end}}
               
                
                  </div>
            </div>
        </div>
        <div class="row d-none d-md-block">
            <div class="col-12"> 
                {{$brand := .Site.Data.brand}} 
                <ul class="brand-list" data-aos="zoom-in">
                    
                    {{ range $brand  }}
                        <li><img src="{{.logo}}" alt="{{.name}}"> {{.Weight}}</li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</section>

{{end}}
