
{{$data := .Params.community }}

{{ if $data.enabled }}
<section class="section enterprise community mt-0 py-0" style="order: {{$data.position}};">
    <div class="container">
        <div class="row mb-5">
            {{range $data.list }}            
            <div class="col-sm-12 col-md-4 col-lg-4 mb-4 mb-sm-0"> 
                <div class="list-box community-card m-0 d-flex h-100">
                    <div class="box-bg">
                        <div class="community-icon">                                
                            <img src="{{.logo}}" alt="{{.title}}">
                        </div>
                        <div class="content-body">                            
                            <h4 data-aos="zoom-in" class="text-gradient">{{.title}}</h4>
                            <p>{{.description}}</p>
                        </div>
                        <a href="{{.buttonUrl}}" target="{{.tabOpen}}" class="btn btn-gradient">{{.buttonText}}</a>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>
{{end}}
