{{ if .Params.hero.enabled }}
{{$data := .Params.hero }}
<section class="hero" style="order: {{$data.position}};" >
<div class="container">
    <div class="row">
        <div class="col-12 text-left text-md-center">
            <p data-aos="zoom-out" class="text-gradient text-left text-md-center" data-aos-delay="100">{{$data.tag | safeHTML}}</p>
            <h1 data-aos="zoom-in" data-aos-delay="100" class="text-left text-md-center mx-auto">{{$data.heading | markdownify }}</h1>
            <p class="sub-heading text-left text-md-center" data-aos="zoom-in-up">{{$data.subHeading | markdownify}}</p>
            <div class="d-flex release-btn">
                {{ range $data.buttons }}
                <p class="mr-md-3">
                    <a href="{{ .btnUrl | safeHTML }}" class="btn btn-gradient" data-aos="zoom-in">{{ .btnText | safeHTML }}</a>
                </p>
                {{ end }}
                <p class="ver" data-aos="flip-right">
                    {{.Site.Params.lastVersion | safeHTML}} released on <strong>{{.Site.Params.releasedOn | safeHTML}}</strong> <br>
                    <a href="{{.Site.Params.noteUrl | safeHTML}}" class="read-link" data-aos="fade-up">{{$data.noteText | safeHTML}}</a>
                </p>
            </div> 
        </div>
        {{if $data.image}}
            <div class="col-12 text-center hero-image">
                <img src="{{$data.image | safeHTML}}" alt="{{$data.heading | safeHTML}}" class="mx-auto d-none d-md-block">
                <img src="{{$data.mobileImage | safeHTML}}" alt="{{$data.heading | safeHTML}}" class="d-sm-block d-md-none">
            </div>
        {{end}}
    </div>
</div>

        <center>
          <a href="https://chronosphere.io/fluent-bit-academy/" target="_blank">
            <img src="/images/fluent-bit-academy-banner.png" style="max-width: 35%;" alt="New Fluent Bit Academy!: Your destination for learning all things Fluent Bit'" />
          </a> 
        </center>

</section>
{{ end }}
