<section class="hero hero-inner{{ if eq .Section "announcements" }} announcement-hero{{ end }}" style="background-image: url({{.Params.heroBg}});">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <h1  style='{{if eq .Page.RelPermalink "/documentation/" }}width: 87%; {{end}}{{if eq .Page.RelPermalink "/blog/"  }}width: 76%; {{end}}'>{{ .Title | safeHTML  }}</h1>            
                <h6>{{.Params.description | safeHTML}}</h6>
                {{ if isset .Params "author" }}
                <p>Written by {{.Params.author | safeHTML}}</p>
                {{ end }}
                {{ if isset .Params "date" }}
                {{ $dateFormat := default "January 2, 2006" (index .Site.Params "date_format") }}
                <p>{{ .Date.Format $dateFormat }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
