{{ if .Params.howitworks.enabled }}
{{$data := .Params.howitworks }}
<section class="how-it-works" style="order: {{$data.position}};">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7 animation-area" data-aos="fade-right" data-aos-duration="2000">
                <img src="{{$data.image }}" alt="how it works" class="img-fluid howit-img">

                <div class="ani-text">
                    <pre id="typewriter">
<span class="yaml-key">pipeline</span>:
  <span class="yaml-key">inputs</span>:
    - <span class="yaml-key">name</span>: <span class="string-highlight">tail</span>
      <span class="yaml-key">path</span>: <span class="string-highlight">/var/log/system.log</span>
      <span class="yaml-key">tag</span>: <span class="string-highlight">app.logs</span>

  <span class="yaml-key">processors</span>:
    - <span class="yaml-key">name</span>: <span class="string-highlight">opentelemetry_envelope</span>
    - <span class="yaml-key">name</span>: <span class="string-highlight">record_modifier</span>
      <span class="yaml-key">record</span>:
        <span class="yaml-key">service.name</span>: <span class="string-highlight">checkout</span>

  <span class="yaml-key">outputs</span>:
    - <span class="yaml-key">name</span>: <span class="string-highlight">opentelemetry</span>
      <span class="yaml-key">match</span>: <span class="string-highlight">*</span>
      <span class="yaml-key">host</span>: <span class="string-highlight">otel-gateway.monitoring.svc</span>
      <span class="yaml-key">port</span>: <span class="yaml-number">4318</span>
      <span class="yaml-key">logs_uri</span>: <span class="string-highlight">/v1/logs</span>
                    </pre>
                </div>
            </div>
            <div class="col-md-12 col-lg-5" data-aos="fade-left" data-aos-duration="2000">
                {{ with $data.otelLabel }}
                <p class="howit-eyebrow">{{ . | safeHTML }}</p>
                {{ end }}
                {{ with $data.otelHeading }}
                <h4 class="text-gradient text-left mt-0">{{$data.otelHeading | safeHTML}}</h4>
                {{ end }}
                {{ with $data.subInfo }}
                <p class="howit-subinfo">{{ . | markdownify }}</p>
                {{ end }}
                <h5 class="howit-support-heading">{{$data.info | safeHTML}}</h5>
                <ul>
                    {{range $data.lists}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
                <p><a href="{{$data.btnUrl | safeHTML}}" class="btn btn-gradient text-uppercase">{{$data.btnText | safeHTML}}</a></p>
            </div>
        </div>
    </div>
</section>

{{end}}
