{{ if .Params.performance.enabled }}
{{$data := .Params.performance }}

<section class="section home-performance" id="{{$data.sectionId}}" style="order: {{$data.position}};">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">                                   
                <div class="section-heading text-md-center">
                    <h4 data-aos="zoom-in" class="text-left text-md-center">{{$data.heading}}</h4>
                    {{with  $data.subHeading }}
                     <h5 data-aos="fade-up"  data-aos-easing="linear" data-aos-duration="1000" class="mx-auto">{{. | markdownify }}</h5> 
                    {{end}}
                </div>
            </div>
        </div>
        <div class="row performance-grid">
            {{range $data.lists }}  
                <div class="col-md-6 col-sm-6 col-lg-3 performance-list"> 
                    <div class="performance-card">
                        <div class="icon" data-aos="flip-up" data-aos-easing="linear" data-aos-duration="300">
                            <img src="{{.icon}}" alt="{{.heading}}}">
                        </div>
                        <div class="heading" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="300">{{.heading}}</div>
                        <p data-aos="zoom-out-down" data-aos-easing="linear" data-aos-duration="300">{{.description}}</p>
                        <p data-aos="zoom-out-down" data-aos-easing="linear" data-aos-duration="300" class="text-gradient hightlight">{{.heightlightText}}</p>
                    </div>

                   

                </div>
            {{end}}
        </div>
    </div>
</section>

{{end}}
