
<section class="top-sec{{ if eq .RelPermalink "/enterprise/" }} page-enterprise{{ end }}{{ if eq .RelPermalink "/opentelemetry/" }} page-opentelemetry{{ end }}{{ if eq .RelPermalink "/community/" }} page-community{{ end }}">
    <div class="container">
        <div class="row">
            <div class="col-12  justify-content-center align-items-center">
                <h1 class="lg-font text-gradient mb-4">{{ .Title | safeHTML  }} </h1>            
                <h5 class="text-left text-md-center">{{.Params.description | markdownify | safeHTML}}</h5>
            </div>
        </div>
    </div>
</section>
